dist: xenial
sudo: false
language: python
cache: pip
services:
  - redis
  - postgresql
  - mysql
addons:
  postgresql: "10"
  apt:
    packages:
    - postgresql-10
    - postgresql-10-postgis-2.4

python:
  - 2.7
  - 3.5
  - pypy
env:
  - DJANGO=1.8
  - DJANGO=1.9
  - DJANGO=1.10
  - DJANGO=1.11
matrix:
  include:
    - python: 3.5
      env: TOXENV=lint
    - python: 3.5
      env: DJANGO=2.0
    - python: 3.5
      env: DJANGO=2.1
    - python: 3.6
      env: DJANGO=1.11
    - python: 3.6
      env: DJANGO=2.0
    - python: 3.6
      env: DJANGO=2.1
    - python: 3.6
      env: DJANGO=2.2
    - python: 3.6
      env: DJANGO=master
    - python: 3.7
      env: DJANGO=2.0
    - python: 3.7
      env: DJANGO=2.1
    - python: 3.7
      env: DJANGO=2.2
    - python: 3.7
      env: DJANGO=master
  allow_failures:
    - python: 3.6
      env: DJANGO=master
    - python: 3.7
      env: DJANGO=master
install:
  - pip install tox-travis
before_script:
  # check gis
  # - gdal-config --version
  # - gdal-config --cflags
  - psql -U postgres -c "create extension postgis"
  # set up postgresql
  - psql -U postgres -c "create role cacheops login superuser"
  # postgis django backend requires these to exist
  - psql -U postgres -c "create database cacheops"
  - psql -U postgres -c "create database cacheops_slave"
  # mysql databases
  - mysql -u root -e "create user cacheops@localhost"
  - mysql -u root -e "grant all on *.* to cacheops@localhost"
  - mysql -e "create database cacheops"
  - mysql -e "create database cacheops_slave"
script:
  - GDAL_VERSION=1.10 tox
