language: python
python: 2.7
services:
  - redis-server
addons:
  postgresql: "9.3"
env:
  - TOXENV=flakes
  - TOXENV=py26-dj13
  - TOXENV=py26-dj14
  - TOXENV=py26-dj15
  - TOXENV=py26-dj16
  - TOXENV=py27-dj13
  - TOXENV=py27-dj14
  - TOXENV=py27-dj15
  - TOXENV=py27-dj16
  - TOXENV=py27-dj17
  - TOXENV=py27-dj18
  - TOXENV=py27-djmaster
  - TOXENV=py33-dj15
  - TOXENV=py33-dj16
  - TOXENV=py33-dj17
  - TOXENV=py33-dj18
  - TOXENV=py34-dj15
  - TOXENV=py34-dj16
  - TOXENV=py34-dj17
  - TOXENV=py34-dj18
  - TOXENV=py34-djmaster
matrix:
  allow_failures:
    - env: "TOXENV=py27-djmaster"
    - env: "TOXENV=py34-djmaster"
install:
  - pip install tox
before_script:
  - psql -U postgres -c "create role cacheops login superuser"
  # postgis django backend requires these to exist
  - psql -U postgres -c "create database cacheops"
  - psql -U postgres -c "create database cacheops_slave"
  # mysql databases
  - mysql -e "create user cacheops"
  - mysql -u root -e "grant all on *.* to 'cacheops'@'localhost'"
  - mysql -e "create database cacheops"
  - mysql -e "create database cacheops_slave"
script:
  - tox
