language: python
sudo: false
cache: pip
services:
  - redis-server
addons:
  postgresql: "9.3"
matrix:
  include:
    - python: 2.7
      env:
        - TOXENV=lint
        - TOXENV=py27-dj17
        - TOXENV=py27-dj18
        - TOXENV=py27-dj19
        - TOXENV=py27-dj110
        - TOXENV=py27-dj111
    - python: 3.3
      env:
        - TOXENV=py33-dj17
        - TOXENV=py33-dj18
    - python: 3.4
      env:
        - TOXENV=py34-dj17
        - TOXENV=py34-dj18
        - TOXENV=py34-dj19
        - TOXENV=py34-dj110
        - TOXENV=py34-dj111
        - TOXENV=py34-djmaster
    - python: 3.5
      env:
        - TOXENV=py35-dj18
        - TOXENV=py35-dj19
        - TOXENV=py35-dj110
        - TOXENV=py35-dj111
        - TOXENV=py35-djmaster
    - python: 3.6
      env:
        - TOXENV=py36-dj111
        - TOXENV=py36-djmaster
    - python: pypy
      env:
        - TOXENV=pypy-dj17
        - TOXENV=pypy-dj18
        - TOXENV=pypy-dj19
        - TOXENV=pypy-dj110
        - TOXENV=pypy-dj111
  allow_failures:
    - env: "TOXENV=pypy-dj111" # psycopg2cffi fails with db-side cursors
    - env: "TOXENV=py34-djmaster"
    - env: "TOXENV=py35-djmaster"
    - env: "TOXENV=py36-djmaster"
install:
  - pip install tox
before_script:
  - psql -U postgres -c "create role cacheops login superuser"
  # postgis django backend requires these to exist
  - psql -U postgres -c "create database cacheops"
  - psql -U postgres -c "create database cacheops_slave"
  # mysql databases
  - mysql -e "create user cacheops"
  - mysql -u root -e "grant all on *.* to 'cacheops'@'localhost'"
  - mysql -e "create database cacheops"
  - mysql -e "create database cacheops_slave"
script:
  - tox
