include LICENSE
include README.rst
include CHANGELOG
include cacheops/lua/*
include manage.py bench.py
include requirements-test.txt
include tox.ini
recursive-include tests *.json
recursive-include tests *.py
