[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = ">=3.0.0"
funcy = "<2.0,>=1.8"
six = ">=1.4.0"
before-after = "==1.0.0"
Django = ">=1.8"
Jinja2 = ">=2.10"
redis-py-cluster = "*"

[dev-packages]

[requires]
python_version = "3.8"
