name: "CI"

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10", "pypy3"]
        django: [30, 31, 32, 40]

    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: cacheops
          POSTGRES_USER: cacheops
          POSTGRES_HOST_AUTH_METHOD: trust
        ports:
          - 5432:5432
      redis:
        image: redis
        ports:
          - 6379:6379
      mysql:
        image: mysql
        env:
          MYSQL_ROOT_PASSWORD: cacheops
          MYSQL_DATABASE: cacheops
        ports:
            - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=10

    name: Python ${{ matrix.python-version }} / Django ${{ matrix.django }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: "Install Dependencies"
        run: pip install -U pip tox tox-gh-actions

      - name: "Run tests"
        run: tox -e dj${{ matrix.django }}
        env:
          MYSQL_HOST: 127.0.0.1
